- model_class = Compra
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

= render "shared/search", link: compras_path

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:entidad)
      %th= model_class.human_attribute_name(:precio)
      %th= model_class.human_attribute_name(:proponente)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:fecha)
      %th= model_class.human_attribute_name(:acto)
      %th
  %tbody
    - @compras.each do |compra|
      %tr
        %td= compra.entidad.titleize
        %td= number_to_currency(compra.precio)
        %td= compra.proponente.titleize
        %td= compra.description.humanize
        %td= compra.fecha
        %td= compra.acto
        %td= link_to('Detalle', 'http://panamacompra.gob.pa' + compra.url, class: 'btn btn-small btn-primary') if compra.url

= will_paginate @compras
