- model_class = Compra
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

= render "shared/search", link: compras_path

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:entidad)
      %th= model_class.human_attribute_name(:precio)
      %th= model_class.human_attribute_name(:proponente)
      %th= model_class.human_attribute_name(:category_id)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:acto)
  %tbody
    - @compras.each do |compra|
      %tr
        %td= link_to compra.id, compra_path(compra)
        %td= compra.entidad
        %td= compra.precio
        %td= compra.proponente
        %td= compra.category_id
        %td= compra.description
        %td= compra.acto
        %td= link_to 'Detalle', 'http://panamacompra.gob.pa' + compra.url, class: 'btn btn-small'

= will_paginate @compras
