%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to "Panacompra", root_path, :class => 'brand'
.nav-collapse.collapse
  %ul.nav
    %li.divider-vertical
    %li= link_to 'Alertas', alerts_path
    %li.divider-vertical
    %li= link_to 'Estadisticas', '/stats'
    %li.divider-vertical
    %li= link_to 'Exportar Data', 'http://ec2-54-237-106-16.compute-1.amazonaws.com/panasnapshot.csv'
    %li.divider-vertical
    %li= link_to 'About', '/about'
  %p.nav.navbar-text.pull-right
  %ul.nav.pull-right
    - if user_signed_in?
      %p.nav.navbar-text= link_to "Logout", destroy_user_session_path, method: :delete
      %li.divider-vertical
      %p.nav.navbar-text
        Hola
        = current_user.email
    - else
      %p.nav.navbar-text= link_to "Login", new_user_session_path
    %li.divider-vertical
    %p.nav.navbar-text= @count.to_s + ' compras'
