= link_to "Panacompra", root_path, :class => 'brand'
%ul.nav
  %li.divider-vertical
  %li= link_to 'Alertas', alerts_path
  %li.divider-vertical
  %li= link_to 'Estadisticas', '/stats'
%p.nav.navbar-text.pull-right #{@count} compras
%ul.nav.pull-right
  %li.divider-vertical
- if user_signed_in?
  %p.nav.navbar-text.pull-right
    = link_to "Logout", destroy_user_session_path, method: :delete
  %ul.nav.pull-right
    %li.divider-vertical
  %p.nav.navbar-text.pull-right
    Hola
    = current_user.email
- else
  %p.nav.navbar-text.pull-right
    = link_to "Login", new_user_session_path
